<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	<script src="./vue.min.js"></script>
	<script src="./jquery-3.2.1.min.js"></script>
</head>
<body>
	<div id="meg">
		<p>{{ message }}</p>
	</div>
	<div id="meg-2">
		<span v-bind:title="message">鼠标悬停几秒查看此处动态绑定的提示信息！</span>
	</div>
	<div id="app-3">
		<p v-if='seen'>现在你看到我了</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for='todo in todos'>
				{{ todo.text }}
			</li>
		</ol>
	</div>
	<div id="app-5">
		<p>
			{{message}}
		</p>
		<button v-on:click='reverseMessage'> 逆转消息</button>
	</div>
	<div id="app-6">
		<p>{{message}}</p>
		<input v-model='message' type="text">
	</div>
	<div id="app-7">
		<!-- 创建一个todo-item 组件的实例 -->
		<todo-item></todo-item>
	</div>
	<ol id="app-7-1">
	  <!-- 创建一个 todo-item 组件的实例 -->
	  <myfirstcomponent></myfirstcomponent>
	</ol>
	<div id="app-8">
		<ol>
			<complex 
				v-for='item in grocerylist'
				v-bind:todo='item'
				v-bind:key='item.id'
			>
			</complex>
		</ol>
	</div>
	<div id="app-9">
		<p>Original message: '{{ message }}'</p>
		<p>Original reversed message: '{{ reversedmessage }}'</p>
		<p>time:'{{now}}'</p>
	</div>
	<div id="app-10">
		<p>{{message}}</p>
		<p>{{reversedMessage}}</p>
	</div>
</body>
<script>
	var app = new Vue ({
		el:'#meg',
		data:{
			message:'hello world!',
		}
	})
	var app2 = new Vue ({
		el:'#meg-2',
		data:{
			message:"页面加载于" + new Date(),
		}
	})
	var app3 = new Vue ({
		el:'#app-3',
		data:{
			seen:true
		}
	})
	var app4 = new Vue ({
		el:'#app-4',
		data:{
			todos: [
				{text: '学习 javaScript'},
				{text: '学习 Vue'},
				{text: '整个项目'},
			]
		}
	})
	var app5 = new Vue ({
		el:'#app-5',
		data:{
			message: 'hello Vue.js hha '
		},
		methods: {
			reverseMessage: function() {
				this.message = this.message.split('').reverse().join('')
			}
		}
	})
	var app6 = new Vue ({
		el:'#app-6',
		data:{
			message: 'Hello Vue!'
		}
	})
	// 定义名为 todo-item 的新组件
	Vue.component('myfirstcomponent', {
	  template: '<li>这是个待办项</li>'
	})
	var app71= new Vue({
		el:'#app-7-1'
	})
    // 1.创建一个组件构造器
    var myComponent = Vue.extend({
        template: '<div> my first component!</div>'
    })
    // 2.注册组件，并指定组件的标签，组件的HTML标签为<the-component> 
    Vue.component('todo-item', myComponent)

    new Vue({
        el: '#app-7'
    });
    Vue.component('complex', {
    	props:['todo'],
    	template:'<li>{{todo.text}}</li>'
    })
    var app8 = new Vue({
    	el:'#app-8',
    	data: {
    		grocerylist: [
    			{id:0, text: '蔬菜'},
    			{id:1, text: '奶酪'},
    			{id:2, text: '随便其他人吃什么东西'}
    		]
    	}
    })

    var vm1= new Vue({
    	el:'#app-9',
    	data: {
    		message: 'hello'
    	},
    	computed: {
    		reversedmessage: function() {
    			return this.message.split('').reverse().join('')
    		},
    		now: function() {
    			return Date.now();
    		}
    	}
    })
    console.log(vm1.reversedmessage)
    vm1.message = 'goodhello'
    console.log(vm1.reversedmessage)
    var app10 = new Vue({
    	el:'#app-10',
    	data: {
    		message: '哈哈 喔呵呵呵哦与我的谈'
    	},
    	methods: {
    		reversedMessage: function() {
    			return this.message.split('').reverse().join('')
    		}
    	}
    })
</script>
</html>